@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

:root {
  --primary-color: #0073d6;
  --secondary-color: #4662ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
body,
html {
  font-family: "Khula", sans-serif;
}

/* common styles */
.goLearn-btn {
  border: none;
  background-color: #4662ac;
  padding: 8px 15px;
  color: #fff;
  border-radius: 30px;
}

.secondary-goLearn-text-color {
  color: var(--secondary-color);
  font-weight: bold;
}
.section-top-title {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 13px;
}

/* Header Area start */
.hdr-top-wrapper {
  padding: 15px 0;
}
.hdr-top-wrapper ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.hero-area {
  /* background-color: #13273c; */
  background-image: url("../assets/img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  padding: 20px 0;
  color: #fff;
  height: auto;
  overflow: hidden;
}
.hero-content-goLearn h1 {
  font-size: 40px;
  font-weight: bold;
}
.hero-img {
  /* width: 656.9px;
  height: 652.64px; */
}

/* Header Area End */

/* about-us-goLearn start */
#about-us-goLearn {
  padding: 60px 0;
}
.about-us-left-content h5 {
  color: var(--secondary-color);
  font-size: 13px;
}
#about-us-goLearn .fa-check {
  color: var(--secondary-color);
  margin-right: 8px;
}
.achievement-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}
.single-achievement {
  border: 0.5px solid #ddd;
  box-shadow: 0 10px 10px -5px #ddd;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.single-achievement h2 {
  margin-top: 10px;
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: bold;
}
.single-achievement h4 {
  font-weight: bold;
  color: #000;
}
/* about-us-goLearn end */
/* course-category start */
#course-category {
  padding: 60px 0;
}
.section-title-course-categories {
  margin-bottom: 25px;
}

.categories-buttons button {
  padding: 6px 12px;
  border-radius: 30px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  outline: none;
  background-color: transparent;
  margin: 8px 5px;
}
.categories-buttons button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.all-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}
.last-three-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.single-category {
  border: 0.5px solid #ddd;
  box-shadow: 0 10px 10px -5px #ddd;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgba(243, 248, 254, 1);
}
.all-categories .single-category:nth-child(2) {
  background-color: #fff;
}
.single-category h5 {
  font-size: 14px;
  font-weight: bold;
}
.icon-img-bg {
  background-color: #e5edfa;
  padding: 15px;
  border-radius: 50%;
}
/* course-category end */
/* course start */
#course-section {
  padding: 60px 0;
}
.single-course {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.course-img {
  position: relative;
}
.single-course-overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: none;
  padding: 20px;
  color: #fff;
  background-color: rgba(70, 98, 172, 0.9);
  transition: background-color 0.3s;
  z-index: 9999;
}
.single-course:hover .single-course-overlay-content {
  display: block;
  height: 100%;
}
.start-series-btn {
  border: 1px solid #ddd;
  outline: none;
  padding: 5px 15px;
  color: #fff;
  background-color: transparent;
  border-radius: 30px;
  margin: 30px 0;
}
.bottom-text-list {
  margin-top: 37px;
}
.overlay-image {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
}
.overlay-image h6 {
  margin-bottom: 0;
}
.course-content h5 {
  font-size: 20px;
  line-height: 28px;
}
.single-course .fa-star {
  color: #eb8d00;
}
.single-course .fa-user-large {
  color: var(--secondary-color);
  margin-right: 5px;
}
.course-bottom-list li {
  display: inline-block;
  margin-left: 10px;
  list-style: circle !important;
}
.dolar-course {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
}
/* course end */

/* features-section start */
#features-section {
  padding: 60px 0;
}
.left-side-features .single-feature {
  padding: 15px 30px;
  gap: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
}
.feature-icon-bg {
  background-color: #e5edfa;
  padding: 15px;
  border-radius: 50%;
}

.left-side-features .single-feature h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.left-side-features .single-feature h4 {
  font-size: 16px;
  line-height: 24px;
}
/* features-section end */
/* partner-section start */
#partner-section {
  padding: 60px 0;
  background-color: #fafdff;
}
.single-partner {
  width: 100%;
  height: 170px;
  overflow: hidden;
  padding: 60px 20px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 15px;
  background-color: #fff;
}
.single-partner:nth-child(2) {
  padding-top: -20px;
}
.single-partner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* partner-section end */
/* testimonial-section start */
#testimonial-section {
  padding: 60px 0;
}
.single-testimonial {
  background-color: #f3f8fe;
  padding: 30px 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 562.55px;
}
.two-testimonial {
  background-color: #fff;
}
.testimonial-review {
  margin: 10px 0;
}
.testimonial-review li {
  display: inline-block;
}
.testimonial-review li i {
  color: #eb8d00;
}
.testimonial-user {
  margin-top: 60px;
}
.testimonial-user img {
  margin-bottom: 10px;
}
.testimonial-user h4 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
/* testimonial-section end */
/* blog-section start */
#blog-section {
  padding: 60px 0;
}
.single-blog h3 {
  font-size: 20px;
  line-height: 28px;
}
.single-blog .fa-calendar {
  color: rgba(140, 145, 148, 1);
}
.blog-content h4 {
  font-size: 14px;
}
/* blog-section end   
*/
/* Footer section start */
#footer-section {
  background: url("../assets/img/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 60px 0;
}
.footer-section-title {
  width: 60%;
  margin: 0 auto;
}
.footer-section-title h2 {
  font-weight: 400;
  margin-bottom: 20px;
}
.input-search {
  width: 400px;
  background-color: #fff;
  padding: 5px;
  margin: 10px auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.input-search input {
  font-size: 20px;
  border: none;
  outline: none;
}
.footer-right-single-content h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
/* Footer section end */
